<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="p.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/05131c2067.js" crossorigin="anonymous"></script>

    <div class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-dark  " style="margin-left: auto ;padding:0% 5%">
            <a class="navbar-brand" href="/" style="font-weight: bold;color: black;">
                <i clas="fa-solid fa-chalkboard-user fa-xl"></i></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
        <div  class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav "  style="margin-left: 55%;">
                <li class="nav-item">
                    <a class="nav-link" href="">Home</a>
                </li>
                <li class="nav-item" style="margin-left: 7%;">
                    <a class="nav-link" href="#SKILLS">Skills</a>
                </li>
                <li class="nav-item" style="margin-left: 7%;">
                    <a class="nav-link" href="#PROJECTS">Projects</a>
                </li>
                <li class="nav-item" style="margin-left: 7%;">
                    <a class="nav-link" href="#ABOUT">About</a>
                </li>
                <li class="nav-item" style="margin-left: 7%;">
                    <a class="nav-link" href="#CONTACT">Contact</a>
                </li>
                <li class="nav-item" style="margin-left: 7%;">
                    <a class="nav-link" href="/">Blog</a>
                </li>
            </ul>
        </div>
      </nav>
    </div>

</head>

<!-- {% include "p_header.html" %} -->
  
<body>
  <section id="TOP">
    <div class="cards">
        <img src="main1.jpg" class="img-fluid img"  alt="">
        <div class="card-img-overlay">
                <img src="f.png" class="photo"  alt="">
                <h3 class="card-title name">
                        <n class="hi">Hi, I am</n><br>SWAMY BATHULA
                </h3>
                <p class="card-text c_name">AI&ML Engineer / Python Developer</p>
                <button class="card-text btn btn1 btn-sm btn-outline-primary rounded-pill" type="button">
                        Resume/CV <i class="fa-solid fa-download"></i>
                </button>
                
                <p class="card-text icons">
                <a href=""><i class="fa-brands fa-linkedin fa-xl icon"></i></a>
                <a href=""><i class="fa-brands fa-github fa-xl icon"></i></a>
                <a href=""><i class="fa-brands fa-square-x-twitter fa-xl icon"></i></a>
             </p>  
        </div>
    </div>
  </section>
 
  <section id="SKILLS" class="bg-seondary">
 <div class="container">
        <div class="row text-center">
                <h3 class="skills_head">MY SKILLS</h3>
        </div>
        <div class="row text-center r1">
                <div class="col-4 col-lg-2 col-sm-4 skill_box">
                        <img src="tensor.png" class="img-fluid skill_img"  alt="">
                    <p class="skill_name">TENSORFLOW</p>
                </div>
                <div class="col-4 col-lg-2 col-sm-4 skill_box">
                        <img src="sklearn.png" class="img-fluid skill_img sk_1"  alt="">
                    <p class="skill_name">SKLEARCN</p>
                </div>
                <div class="col-4 col-lg-2 col-sm-4 skill_box">
                        <img src="pytorch.png" class="img-fluid skill_img"  alt="">

                    <p class="skill_name">PYTORCH</p>
                </div>
                <div class="col-4 col-lg-2 col-sm-4 skill_box ">
                        <img src="spacy.png" class="img-fluid skill_img"  alt="">

                    <p class="skill_name">SPACY</p>
                </div>
                <div class="col-4 col-lg-2 col-sm-4 skill_box">
                        <img src="pytorch.png" class="img-fluid skill_img"  alt="">

                    <p class="skill_name">PYTORCH</p>
                </div>
                <div class="col-4 col-lg-2 col-sm-4 skill_box">
                        <img src="keras.jpg" class="img-fluid skill_img"  alt="">

                    <p class="skill_name"> KERAS</p>
                </div>
                <div class="col-4 col-lg-2 col-sm-4 skill_box">
                        <img src="pandas.png" class="img-fluid skill_img sk_2"  alt="">

                    <p class="skill_name"> PANDAS</p>
                </div>
                <div class="col-4 col-lg-2 col-sm-4 skill_box">
                        <img src="numpy.png" class="img-fluid skill_img"  alt="">

                    <p class="skill_name"> NUMPY</p>
                </div>
                <div class="col-4 col-lg-2 col-sm-6 skill_box">
                        <img src="matplot.png" class="img-fluid skill_img sk_3"  alt="">

                    <p class="skill_name"> MATLOPTLIB</p>
                </div>
                <div class="col-4 col-lg-2 col-sm-4 skill_box">
                        <img src="plotly.png" class="img-fluid skill_img sk_4"  alt="">

                    <p class="skill_name"> PLOTLY</p>
                </div>
                <div class="col-4 col-lg-2 col-sm-4 skill_box">
                        <img src="flask.png" class="img-fluid sk_5"  alt="">

                    <p class="skill_name"> FLASK & DJANGO</p>
                </div>
                <div class="col-4 col-lg-2 col-sm-4 skill_box">
                        <img src="python1.png" class="img-fluid sk_6"  alt="">

                    <p class="skill_name">CORE PYTHON DEVELOPER</p>
                </div>
                <div class="col-4 col-lg-2 col-sm-4 skill_box">
                        <img src="full-stack.png" class="img-fluid sk_7"  alt="">

                    <p class="skill_name">FULL-STACK</p>
                </div>
                        
        </div>

 </div>
  </section>

  <section id="ABOUT">
        <div class="row text-center">
                <h3 class="about_head">ABOUT ME</h3>
        </div>
        <p class="col about_para text-center"><b class="about_name">Swamy- </b>crafts intelligence from data — blending creativity with code.
                As an AI & ML Engineer, i builds  and deploys AI models using TensorFlow, Python, and Scikit-learn.
                From vision systems to NLP models, i brings ideas to life with precision and purpose.Experienced in 
                data preprocessing, model tuning, and system integration.
                I doesn’t just write models — i builds more than models and builds with experiences powered by 
                ML.<br> <b class="slogan">Driven by curiosity, fueled by code, and focused on impact.</b></p>
        
<!--                 
        <div class="row text-center explore">
                <h5>| &nbsp;&nbsp;EXPLORE&nbsp;&nbsp; |</h5>
        </div> -->

<div class="container about_skills">
    <div class="row">
        <div class="col-lg-6 col-sm-12">
                                <h5 class="card-title about_title">TensorFlow</h5>
                                <p class="card-text about_text">Able to build and deploy deep learning models for tasks like image classification and NLP.
                                </p>
        </div>
        <div class="col-lg-6 col-sm-12">
                        <h5 class="card-title about_title">Scikit-learn</h5>
                        <p class="card-text about_text">Skilled in applying machine learning algorithms for regression, classification, and clustering.
                        </p>
        </div>
        <div class="col-lg-6 col-sm-12">
                        <h5 class="card-title about_title">Python</h5>
                        <p class="card-text about_text">Proficient in writing efficient scripts for data analysis, automation, and AI development.
                        </p>
        </div>
        <div class="col-lg-6 col-sm-12">
                        <h5 class="card-title about_title">OpenCV</h5>
                        <p class="card-text about_text">Experienced in developing computer vision applications such as face detection and object tracking.
                        </p>
        </div>
        <div class="col-lg-6 col-sm-12">
                        <h5 class="card-title about_title">Pandas</h5>
                        <p class="card-text about_text">Well-versed in data manipulation, cleaning, and transformation for analysis and modeling.
                        </p>
        </div>
        <div class="col-lg-6 col-sm-12">
                        <h5 class="card-title about_title">NumPy</h5>
                        <p class="card-text about_text">Capable of handling mathematical computations and linear algebra for ML workflows.
                        </p>
        </div>
        <div class="col-lg-6 col-sm-12">
                        <h5 class="card-title about_title">Keras</h5>
                        <p class="card-text about_text">Comfortable building deep learning models with quick prototyping and customization.
                        </p>
        </div>
        <div class="col-lg-6 col-sm-12">
                        <h5 class="card-title about_title">spaCy</h5>
                        <p class="card-text about_text">Able to develop NLP pipelines for named entity recognition, text classification, and parsing.
                        </p>
        </div>
        <div class="col-lg-6 col-sm-12">
                        <h5 class="card-title about_title">NLTK</h5>
                        <p class="card-text about_text">Experienced in working with textual data for language modeling and linguistic analysis.
                        </p>
        </div>
        <div class="col-lg-6 col-sm-12">
                        <h5 class="card-title about_title">HTML/CSS</h5>
                        <p class="card-text about_text">Can design and style modern, responsive websites and interfaces.
                        </p>
        </div>
        <div class="col-lg-6 col-sm-12">
                        <h5 class="card-title about_title">Power BI</h5>
                        <p class="card-text about_text">Proficient in creating interactive dashboards and visualizations to communicate data-driven insights effectively.
                        </p>
        </div>
    </div>
</div>
  </section>

  <section id="PROJECTS">
    <div class="row text-center">
        <h3 class="about_head text-light">PROJECTS</h3>
</div>
    <div class="container about_projects">
        <div class="row projects_names">
            <div class="col-lg-6 col-sm-12">
                <h5 class="card-title project_title text-light">Python Projects (Beginner to Advanced)</h5>
                <p class="card-text project_text">Created various Python applications, from Turtle graphics and
                     Tkinter GUI programs to RESTful APIs, web frameworks, and automation tools.
                     <button class="btn btn-sm bg-secondar btn-outline-light rounded-pill explore_btn" type="button">eplore</button>
                </p>
            </div> 
            <div class="col-lg-6 col-sm-12">
                <h5 class="card-title project_title text-light">Selenium Automation Projects</h5>
                <p class="card-text project_text">Automated browser tasks using Selenium, including form 
                    submissions to website interaction, and testing workflows for enhanced productivity.
                    <button class="btn btn-sm bg-secondar btn-outline-light rounded-pill explore_btn" type="button">eplore</button>
                </p>
            </div>
            <div class="col-lg-6 col-sm-12">
                <h5 class="card-title project_title text-light">Web Scraping Tools</h5>
                <p class="card-text project_text">Built efficient web scrapers using BeautifulSoup and 
                    Selenium to extract data from dynamic and static websites for data analysis and automation.
                    <button class="btn btn-sm bg-secondar btn-outline-light rounded-pill explore_btn" type="button">eplore</button>
                </p>
            </div>
            <div class="col-lg-6 col-sm-12">
                <h5 class="card-title project_title text-light">Telegram Chatbot</h5>
                <p class="card-text project_text">Built an interactive Telegram chatbot using Python that 
                    responds to user commands, fetches API data, and automates common tasks.
                    <button class="btn btn-sm bg-secondar btn-outline-light rounded-pill explore_btn" type="button">eplore</button>
                </p>
            </div>
            <div class="col-lg-6 col-sm-12">
                <h5 class="card-title project_title text-light">YOLO Object Detection</h5>
                <p class="card-text project_text">Developed a real-time object detection system using the YOLO 
                    algorithm to identify and classify multiple objects in images and video streams.
                    <button class="btn btn-sm bg-secondar btn-outline-light rounded-pill explore_btn" type="button">eplore</button>
                </p>
            </div>
            <div class="col-lg-6 col-sm-12">
                <h5 class="card-title project_title text-light">Leaf Disease Detection using Neural Networks</h5>
                <p class="card-text project_text">Trained a neural network model to detect and classify leaf 
                    diseases from images,aiding early agricultural diagnosis through computer vision.
                    <button class="btn btn-sm bg-secondar btn-outline-light rounded-pill explore_btn" type="button">eplore</button>
                </p>
            </div>
    </div>
</div>
  </section>

  <section id="CONTACT">
    <div class="row text-center">
        <h3 class="contact_head text-light text-dark">CONTACT ME</h3>
</div>
<div class="row text-center">
<p class="contact_para"><b style="font-size: 1.5rem;color: black;">I'm</b> 
    always open to connecting with like-minded individuals, collaborating on exciting 
    projects, or discussing opportunities in AI, Machine Learning, and Python development. Whether you have a 
    question, an idea, or just want to say hi—feel free to reach out!<br>
    <p class="details">
    <b>Email:</b> magnet4791@gmail.com<br>
    
    <b>Phone / WhatsApp:</b> +91 75697 96382<br>
    
    <b>Telegram:</b> [Available for chat]- 75697 96382<br>
    
    <b>LinkedIn:</b> [to connections and professional networking] <a class="a" > Click Here </a> </p> 
</p>
<p class="contact_para1"> <b style="font-size: 1rem;color: black;">I'd</b> love to hear from you! Whether you're a recruiter, fellow developer, startup founder, or just curious 
    about my work—I'm open to opportunities and ready to collaborate.You can reach out to me directly through 
    any of the contact details above, or simply fill out the form and I'll get back to you as soon as possible.
    <br><br>
   <b> Let’s build something awesome together! </b></p>
</div>
         <form method="POST" action="" class="form">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <label class="form-label" id="name">Name</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-lg-4 col-sm-6">
                <label class="form-label" id="name">Email</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-lg-4 col-sm-6">
                <label class="form-label" id="name">Subject</label>
                <input type="text" class="form-control" placeholder="Subject (Optional)">
            </div>
            <div class="col-lg-4 col-sm-6">
                <label class="form-label" id="name">Message</label>
                <textarea class="form-control" rows="5"> </textarea>
            </div>
            <div class="col-lg-4 col-sm-6">
                <button type="submit" class="btn btn-outline-primary btn-md submit">Submit</button>
            </div>
        </div>
         </form>
  </section>
</body> 
  
<!-- {% include "p_footer.html" %} -->

  <footer>
    <div class="container">
        <div class="row t text-center">
            <div class="col-lg-4">
                <h6 class="card-title text-center footer_data text-light p-4">SWAMY</h6>
                <p class="card-text" style="text-align: left;">Passionate AI/ML developer and skilled Python programmer with 
                    hands-on experience in deep learning,computer vision,automation and data-driven 
                    applications.Proven building intelligent solutions from neural networks 
                    and object detection to chatbot systems and full-stack Python projects.</p>
            </div>
            <div class="col-6 col-lg-2 col-sm-6 footer_data">
                <h6 class="card-title text-light p-4">Links</h6>
                <p class="card-text"><a href="">Home</a></p>
                <p class="card-text"><a href="">Blog</a></p>
                <p class="card-text"><a href="">Demo</a></p>
                <p class="card-text"><a href="">Telegram</a></p>
                <p class="card-text"><a href="">LinkedIn</a></p>
                <p class="card-text"><a href="">GitHub</a></p>
            </div>
            <div class="col-6 col-lg-2 col-sm-6 footer_data">
                <h6 class="card-title text-light p-4">Guides</h6>
                <p class="card-text"><a href="">Home</a></p>
                <p class="card-text"><a href="#ABOUT">About</a></p>
                <p class="card-text"><a href="#SKILLS">Skills</a></p>
                <p class="card-text"><a href="#PROJECTS">Projects</a></p>
                <p class="card-text"><a href="#CONTACT">Contact</a></p>
            </div>
            <div class="col-6 col-lg-2 col-sm-6 footer_data">
                <h6 class="card-title text-light p-4">Projects</h6>
                <p class="card-text "><a href="">ANN Projects</a></p>
                <p class="card-text"><a href="">CNN Projects</a></p>
                <p class="card-text"><a href="">RNN Projects</a></p>
                <p class="card-text"><a href="">Python Projects</a></p>
                <p class="card-text"><a href="">Other Projects</a></p>
            </div>
            <div class="col-6 col-lg-2 col-sm-6 footer_data">
                <h6 class="card-title text-light p-4">Discussions</h6>
                <p class="card-text"><a href="">Issues</a></p>
                <p class="card-text"><a href="">Community</a></p>
                <p class="card-text"><a href="">Corporate sponsors</a></p>
                <p class="card-text"><a href="">Open Collective<a href=""></a></p>
                <p class="card-text"><a href="">Stack Overflow</a></p>
            </div>
        </div>
    </div>
<div class="row text-center footer_icons">
    <div class="col">
    <a href=""><i class="fa-solid fa-envelope"></i></a>
    <a href=""><i class="fa-brands fa-facebook-f"></i></a>
    <a href=""><i class="fa-brands fa-twitter"></i></a>
    <a href=""><i class="fa-brands fa-instagram"></i></a>
<p> @copyright by Syam 2025</p>
</div>
</div>

</footer>
